@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "../src/css-config/mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  @include xl {
    max-width: 1024px;
    padding: 0 15px;
  }
  @include lg {
    max-width: 858px;
    padding: 0 15px;
  }
  @include md {
    max-width: 640px;
    padding: 0 15px;
  }
  @include sm {
    max-width: 100%;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}
