$normal: #c5c9d6;
$fighting: #eb4971;
$flying: #829edb;
$poison: #bd5fe9;
$ground: #f78551;
$rock: #d5c895;
$bug: #8bd674;
$ghost: #6882d4;
$steel: #4d92b4;
$fire: #ff9448;
$water: #58abf6;
$grass: #8bbe8a;
$electric: #f2cb55;
$psychic: #ff787a;
$ice: #6bddce;
$dragon: #1582e7;
$dark: #75747e;
$fairy: #e98acc;

$normal_bg: #9da0aa;
$fighting_bg: #d04164;
$flying_bg: #748fc9;
$poison_bg: #a552cc;
$ground_bg: #dd7748;
$rock_bg: #baab82;
$bug_bg: #8cb230;
$ghost_bg: #556aae;
$steel_bg: #417d9a;
$fire_bg: #fd7d24;
$water_bg: #4a90da;
$grass_bg: #62b957;
$electric_bg: #ffe016;
$psychic_bg: #ea5d60;
$ice_bg: #61cec0;
$dragon_bg: #0f6ac0;
$dark_bg: #58575f;
$fairy_bg: #ed6ec7;
